* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #222836;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
.main-upper,
.main-lower {
    display: flex;
    justify-content: space-between;
    background-color: #222836;
    color: white;
    padding: 50px;
}

.main-upper {
    min-height: 50vh;
}

.main-lower {
    background-color: rgba(0, 91, 152, 0.658);
}

ul.nav-rick {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.title {
    display: none;
}

.header-logo {
    border-radius: 50%;
}

.present-btn {
    text-align: center;
    width: 150px;
    height: 50px;
    border: none;
    background: #557ef2;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hint {
    color: lightgray;
}

aside {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4967ad;
}
.call-to-action {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #a9c1f9;
    border-radius: 8px;
    padding: 20px 20px 0px 20px;

}

#carousel {
    width: 300px;
}

.d-block {
    border-radius: 8px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: #4967ad;
    padding-top: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    background-color: rgb(44, 73, 126);
    font-size: large;
    color: aliceblue;
    gap: 10px;
    font-style: italic;
}

.quoted {
    text-align: right;
}

li a {
    text-decoration: none;
    color: white;
}

#result {
    padding-top: 10px;
    color: darkgrey;
}